{% extends "app_video_youtube/base.html" %}
{% block body %}
<h3 class="text-center m-4">Actualizar video</h3>
{% if success %}
<div class="alert alert-success" role="alert">
    El video se actualizó correctamente. <a href="{% url 'index' %}" class="alert-link">Ir a la página principal.</a>
</div>
{% else %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card bg-light mb-3">
            <div class="card-header"><i class="fa-solid fa-pen-to-square"></i> Actualizar Registro de Video</div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                    <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
